.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(202, 202, 202, 0.5);;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.book-card {
  width: 200px;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
}

.book-card-content {
  overflow-y: auto;
  max-height: 200px;
}

.book-card h2 {
  font-size: 20px;
  margin: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.book-card-content::-webkit-scrollbar {
  display: none;
}
